.card-list {
  &-search {
    text-align: center;
    &-auto-complete {
      text-align: left;
      max-width: 300px;
      width: 100%;
    }
  }
  &-card {
    padding: 0 8px;
    &-monster,
    &-spell {
      height: 100%;
      .effect {
        padding-top: 10px;
      }
    }
  }
}
